--
-- PostgreSQL database dump
--

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: business_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    url text NOT NULL,
    caption text,
    sort_order integer DEFAULT 0,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.business_images OWNER TO postgres;

--
-- Name: business_owners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_owners (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    email text NOT NULL,
    name text,
    is_primary boolean DEFAULT false,
    status text DEFAULT 'pending'::text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.business_owners OWNER TO postgres;

--
-- Name: businesses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.businesses (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    short_description text,
    logo_url text,
    contact_website text,
    contact_email character varying(255),
    contact_phone character varying(50),
    address text,
    country character varying(100),
    industry character varying(100),
    status character varying(20) DEFAULT 'pending'::character varying,
    subscription_tier character varying(20) DEFAULT 'basic'::character varying,
    user_id uuid,
    stripe_customer_id text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    created_date date DEFAULT CURRENT_DATE,
    contact_name text,
    languages_spoken text[],
    social_links jsonb,
    suburb text,
    city text,
    state_region text,
    postal_code text,
    business_hours text,
    banner_url text,
    cultural_identity text,
    claimed boolean DEFAULT false,
    claimed_at timestamp with time zone,
    claimed_by text,
    business_handle text,
    handle text,
    category text,
    subcategory text,
    tagline text,
    email text,
    phone text,
    website text,
    instagram text,
    facebook text,
    tiktok text,
    linkedin text,
    tier text DEFAULT 'free'::text,
    verified boolean DEFAULT false,
    owner_user_id uuid,
    proof_links text[],
    CONSTRAINT businesses_business_handle_format CHECK (((business_handle IS NULL) OR (business_handle = ''::text) OR (business_handle ~ '^[a-z0-9]+(?:-[a-z0-9]+)*$'::text))),
    CONSTRAINT businesses_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'active'::character varying, 'inactive'::character varying, 'suspended'::character varying])::text[]))),
    CONSTRAINT businesses_subscription_tier_check CHECK (((subscription_tier)::text = ANY ((ARRAY['basic'::character varying, 'verified'::character varying, 'featured_plus'::character varying])::text[])))
);


ALTER TABLE public.businesses OWNER TO postgres;

--
-- Name: COLUMN businesses.contact_website; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.contact_website IS 'Contact website URL';


--
-- Name: COLUMN businesses.contact_email; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.contact_email IS 'Contact email address';


--
-- Name: COLUMN businesses.contact_phone; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.contact_phone IS 'Contact phone number';


--
-- Name: COLUMN businesses.contact_name; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.contact_name IS 'Primary contact person name';


--
-- Name: COLUMN businesses.languages_spoken; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.languages_spoken IS 'Array of languages spoken by the business';


--
-- Name: COLUMN businesses.social_links; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.social_links IS 'Social media links stored as JSON';


--
-- Name: COLUMN businesses.suburb; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.suburb IS 'Suburb or local area';


--
-- Name: COLUMN businesses.city; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.city IS 'City or town';


--
-- Name: COLUMN businesses.state_region; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.state_region IS 'State, province, or region';


--
-- Name: COLUMN businesses.postal_code; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.postal_code IS 'Postal code or ZIP code';


--
-- Name: COLUMN businesses.business_hours; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.business_hours IS 'Business operating hours';


--
-- Name: COLUMN businesses.banner_url; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.banner_url IS 'Banner image URL';


--
-- Name: COLUMN businesses.cultural_identity; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.businesses.cultural_identity IS 'Combined cultural identity from primary_cultural and cultural_other';


--
-- Name: claim_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.claim_requests (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    user_id uuid NOT NULL,
    status character varying(20) DEFAULT 'pending'::character varying,
    contact_email character varying(255),
    contact_phone character varying(50),
    verification_documents text[],
    rejection_reason text,
    reviewed_by uuid,
    reviewed_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    user_email text,
    business_name text,
    created_date date DEFAULT CURRENT_DATE,
    CONSTRAINT claim_requests_status_check CHECK (((status)::text = ANY ((ARRAY['pending'::character varying, 'approved'::character varying, 'rejected'::character varying])::text[])))
);


ALTER TABLE public.claim_requests OWNER TO postgres;

--
-- Name: product_services; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_services (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    business_id uuid NOT NULL,
    name text NOT NULL,
    description text,
    price_display text,
    image_url text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.product_services OWNER TO postgres;

--
-- Name: business_images business_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_images
    ADD CONSTRAINT business_images_pkey PRIMARY KEY (id);


--
-- Name: business_owners business_owners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_owners
    ADD CONSTRAINT business_owners_pkey PRIMARY KEY (id);


--
-- Name: businesses businesses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_pkey PRIMARY KEY (id);


--
-- Name: claim_requests claim_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_requests
    ADD CONSTRAINT claim_requests_pkey PRIMARY KEY (id);


--
-- Name: product_services product_services_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_services
    ADD CONSTRAINT product_services_pkey PRIMARY KEY (id);


--
-- Name: businesses_contact_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX businesses_contact_email_idx ON public.businesses USING btree (contact_email);


--
-- Name: businesses_business_handle_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX businesses_business_handle_unique ON public.businesses USING btree (lower(business_handle)) WHERE ((business_handle IS NOT NULL) AND (business_handle <> ''::text));


--
-- Name: businesses_user_id_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX businesses_user_id_idx ON public.businesses USING btree (user_id);


--
-- Name: idx_businesses_city; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_city ON public.businesses USING btree (city);


--
-- Name: idx_businesses_country; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_country ON public.businesses USING btree (country);


--
-- Name: idx_businesses_cultural_identity; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_cultural_identity ON public.businesses USING btree (cultural_identity);


--
-- Name: idx_businesses_industry; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_industry ON public.businesses USING btree (industry);


--
-- Name: idx_businesses_languages_spoken; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_languages_spoken ON public.businesses USING gin (languages_spoken);


--
-- Name: idx_businesses_postal_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_postal_code ON public.businesses USING btree (postal_code);


--
-- Name: idx_businesses_social_links; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_social_links ON public.businesses USING gin (social_links);


--
-- Name: idx_businesses_state_region; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_state_region ON public.businesses USING btree (state_region);


--
-- Name: idx_businesses_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_status ON public.businesses USING btree (status);


--
-- Name: idx_businesses_subscription_tier; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_subscription_tier ON public.businesses USING btree (subscription_tier);


--
-- Name: idx_businesses_suburb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_suburb ON public.businesses USING btree (suburb);


--
-- Name: idx_businesses_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_businesses_user_id ON public.businesses USING btree (user_id);


--
-- Name: idx_claim_requests_business_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claim_requests_business_id ON public.claim_requests USING btree (business_id);


--
-- Name: idx_claim_requests_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claim_requests_status ON public.claim_requests USING btree (status);


--
-- Name: idx_claim_requests_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_claim_requests_user_id ON public.claim_requests USING btree (user_id);


--
-- Name: businesses audit_businesses_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_businesses_trigger AFTER INSERT OR DELETE OR UPDATE ON public.businesses FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_function();


--
-- Name: claim_requests audit_claim_requests_trigger; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_claim_requests_trigger AFTER INSERT OR DELETE OR UPDATE ON public.claim_requests FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_function();


--
-- Name: businesses update_businesses_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_businesses_updated_at BEFORE UPDATE ON public.businesses FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: claim_requests update_claim_requests_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_claim_requests_updated_at BEFORE UPDATE ON public.claim_requests FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: businesses businesses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.businesses
    ADD CONSTRAINT businesses_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE SET NULL;


--
-- Name: claim_requests claim_requests_business_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_requests
    ADD CONSTRAINT claim_requests_business_id_fkey FOREIGN KEY (business_id) REFERENCES public.businesses(id) ON DELETE CASCADE;


--
-- Name: claim_requests claim_requests_reviewed_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_requests
    ADD CONSTRAINT claim_requests_reviewed_by_fkey FOREIGN KEY (reviewed_by) REFERENCES auth.users(id) ON DELETE SET NULL;


--
-- Name: claim_requests claim_requests_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.claim_requests
    ADD CONSTRAINT claim_requests_user_id_fkey FOREIGN KEY (user_id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: businesses Admins can delete businesses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can delete businesses" ON public.businesses FOR DELETE TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.admin_users au
  WHERE (au.user_id = auth.uid()))));


--
-- Name: businesses Admins can insert businesses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can insert businesses" ON public.businesses FOR INSERT TO authenticated WITH CHECK ((EXISTS ( SELECT 1
   FROM public.admin_users au
  WHERE (au.user_id = auth.uid()))));


--
-- Name: businesses Admins can update businesses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can update businesses" ON public.businesses FOR UPDATE TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.admin_users au
  WHERE (au.user_id = auth.uid())))) WITH CHECK ((EXISTS ( SELECT 1
   FROM public.admin_users au
  WHERE (au.user_id = auth.uid()))));


--
-- Name: businesses Admins can view all businesses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Admins can view all businesses" ON public.businesses FOR SELECT TO authenticated USING ((EXISTS ( SELECT 1
   FROM public.admin_users au
  WHERE ((au.user_id = auth.uid()) AND ((au.role)::text = ANY ((ARRAY['admin'::character varying, 'super_admin'::character varying])::text[]))))));


--
-- Name: businesses Owners can update own linked business; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Owners can update own linked business" ON public.businesses FOR UPDATE TO authenticated USING ((user_id = auth.uid())) WITH CHECK ((user_id = auth.uid()));


--
-- Name: businesses Owners can view own linked business; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Owners can view own linked business" ON public.businesses FOR SELECT TO authenticated USING ((user_id = auth.uid()));


--
-- Name: businesses Public can view active businesses; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Public can view active businesses" ON public.businesses FOR SELECT USING (((status)::text = 'active'::text));


--
-- Name: businesses Users can delete own business; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can delete own business" ON public.businesses FOR DELETE USING ((auth.uid() = user_id));


--
-- Name: claim_requests Users can insert claim requests; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can insert claim requests" ON public.claim_requests FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: businesses Users can insert own business; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can insert own business" ON public.businesses FOR INSERT WITH CHECK ((auth.uid() = user_id));


--
-- Name: businesses Users can update own business; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can update own business" ON public.businesses FOR UPDATE USING ((auth.uid() = user_id));


--
-- Name: claim_requests Users can update own claim requests; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can update own claim requests" ON public.claim_requests FOR UPDATE USING (((auth.uid() = user_id) AND ((status)::text = 'pending'::text)));


--
-- Name: claim_requests Users can view own claim requests; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Users can view own claim requests" ON public.claim_requests FOR SELECT USING ((auth.uid() = user_id));


--
-- Name: businesses; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.businesses ENABLE ROW LEVEL SECURITY;

--
-- Name: claim_requests; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.claim_requests ENABLE ROW LEVEL SECURITY;

--
-- Name: TABLE business_images; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.business_images TO anon;
GRANT ALL ON TABLE public.business_images TO authenticated;
GRANT ALL ON TABLE public.business_images TO service_role;


--
-- Name: TABLE business_owners; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.business_owners TO anon;
GRANT ALL ON TABLE public.business_owners TO authenticated;
GRANT ALL ON TABLE public.business_owners TO service_role;


--
-- Name: TABLE businesses; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.businesses TO anon;
GRANT ALL ON TABLE public.businesses TO authenticated;
GRANT ALL ON TABLE public.businesses TO service_role;


--
-- Name: TABLE claim_requests; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.claim_requests TO anon;
GRANT ALL ON TABLE public.claim_requests TO authenticated;
GRANT ALL ON TABLE public.claim_requests TO service_role;


--
-- Name: TABLE product_services; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.product_services TO anon;
GRANT ALL ON TABLE public.product_services TO authenticated;
GRANT ALL ON TABLE public.product_services TO service_role;


--
-- PostgreSQL database dump complete
--

